# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Environment
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.temp

# Logs
*.log
